 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/84849.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 463px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 12px 109px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: 221px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-bottom: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-bottom: -34px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 759px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 639px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-2 .u-image-1 {
  height: 479px;
  width: 521px;
  margin: 94px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 827px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 64px auto 0 37px;
}

.u-section-2 .u-line-1 {
  width: 360px;
  margin: 19px auto 0 37px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 45px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-2 .u-image-1 {
    height: 405px;
    width: 440px;
    margin-top: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 682px;
  }

  .u-section-2 .u-line-1 {
    height: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-2 .u-image-1 {
    height: 304px;
    margin-top: 54px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 468px;
    width: 508px;
    margin: 55px auto 39px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-2 .u-image-1 {
    height: 286px;
    width: 306px;
    margin-top: 35px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}